<h1>ALL POSTS</h1>

<%= render "tweet", tweet: {tweet_one: "This is the first tweet.", tweet_two: "This is the second tweet.", tweet_three: "This is the third tweet"}%>

<br>

<%= link_to "Home", "/" %>
<br>
<%= link_to "All Users", "/users" %>
<br>
<%= link_to "My Profile", "/profile/:id" %>
<br>
<%= link_to "My Posts", "/posts/:id" %>
<br>
<%= link_to "Transactions", "/transactions" %>