<h1>MY POSTS</h1>

<%= @user %> was typed into this url.

<br><br>

<%= link_to "Home", "/" %>
<br>
<%= link_to "All Users", "/users" %>
<br>
<%= link_to "My Profile", "/profile/:id" %>
<br>
<%= link_to "All Posts", "/posts" %>
<br>
<%= link_to "Transactions", "/transactions" %>